.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #4d7495, #2a3f51);
}
.layer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  width: 95.6%;
  height: 8%;
  display: flex;
  background-color: #fff;
  margin: 0 0 2% 0;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 2vw;
}

.nav {
  width: 96%;
  height: 8%;
  display: flex;
  align-items: center;
  margin: 0 0 0 2%;
}
.search {
  display: flex;
  height: 100%;
  width: 70%;
  align-items: center;
}
.search :focus {
  border: none;
}
.button {
  display: flex;
  justify-content: end;
  height: 25%;
  width: 30%;
  align-items: center;
  cursor: pointer;
}
.button :hover {
  background-color: #1b98f5;
  color: black;
}
.table {
  width: 96%;
  height: 98%;

  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
.icon {
  font-size: 5rem;
}
