.container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.62rem;
  cursor: pointer;
}
.para {
  padding-left: 0.7vw;
}
